{
    admin off
    auto_https off
    persist_config off
}

:8080 {
    @www host www.lobanovsky.ru
    redir @www https://lobanovsky.ru{uri} permanent
    root * /srv
    encode zstd gzip
    header Cache-Control "public, max-age=0, must-revalidate"
    @basketHome {
        host basket.lobanovsky.ru
        path / /index.html
    }
    rewrite @basketHome /basket/index.html
    file_server
    handle_errors {
        rewrite * /404.html
        file_server
    }
}
